.navbar-container {
    position: fixed;
    width: 100%;
}

.nav-content {
    display: flex;
    justify-content: center;
}

.nav-item {
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;

    &:after {
        content: '';
        display: block;
        margin: .2rem auto;
        width: 0%;
        height: 2px;
        background: $primary-blue;
        transition: all ease-in-out .2s;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }

    a {
        color: $primary-white;
    }
}