#products {
	display: flex;
	justify-content: center;
	background: linear-gradient(rgba($primary-white, 0), rgba($primary-white, 1));
	min-height: 100vh;
	padding: 6rem 0;

	.product {
		width: 30%;
		margin: 0 2.5%;
		background-color: $primary-white;
		padding: 1rem;
		border-radius: .4rem;
		box-shadow: 0 0 5rem $shadow;

		img {
			width: 124px;
			margin: 0 auto;
			text-align: center;
			display: block;
		}
	}
}