section.section-about
    .container
        .card-container

            figure.card
                h3.card-title Design
                img(src="http://placehold.it/300x400")
                figcaption
                    h3.caption-title title
                    p.caption-description caption

            figure.card
                h3.card-title Develop
                img(src="http://placehold.it/300x400")
                figcaption
                    h3.caption-title title
                    p.caption-description caption

            figure.card
                h3.card-title Manage
                img(src="http://placehold.it/300x400")
                figcaption
                    h3.caption-title title
                    p.caption-description caption
