footer.section-footer
    .container
        .footer-wrap
            .footer-item
                h3.footer-link
                    a(href="mailto:alejandrohtadinom@gmail.com") alejandrohtadinom@gmail.com

            .footer-item
                ul
                    li
                        a.footer-btn(href="https://github.com/alejandrohtadinom") github
                    li
                        a.footer-btn(href="https://www.linkedin.com/in/alejandrohtadinom/") linkedin
                    li
                        a.footer-btn(href="https://www.facebook.com/Alejandrohtm/") facebook
