footer.section-footer
    .container
        .footer-wrap
            .footer-item
                h3.footer-link
                    a(href="mailto:alejadnrohtadinom@gmail.com") alejadnrohtadinom@gmail.com

            .footer-item
                ul
                    li
                        a.footer-btn(href="https://github.com/alejandrohtadinom") github
                    li
                        a.footer-btn(href="#") linkedin
                    li
                        a.footer-btn(href="#") facebook
