header
    .container
        .header-container
            h1.page-title Alejandro H Tadino M
            h2.sub-title Design || Develop
            .btn-wrapp
                a.sns(href="#") github
                a.btn.btn-primary(href="#") saber mas
