section.section-about
    .container
        .card-container

            figure.card
                img(src="/assets/img/card-design.jpg")
                figcaption
                    h3.caption-title Diseños modernos
                    p.caption-description Diseño de aplicaciones, logos e imagen corporativa

            figure.card
                img(src="/assets/img/card-develop.jpg")
                figcaption
                    h3.caption-title Desarrollo
                    p.caption-description Desarrollo de aplicaciones con tecnologia WEB y Sistemas administrativos basados en Odoo

            figure.card
                img(src="/assets/img/card-manage.jpg")
                figcaption
                    h3.caption-title Marketing estrategico
                    p.caption-description Campañas publicitarias y marketing estrategico digital
