doctype html
html(lang='es')
    head
        title Alejandro H Tadino M
        link(rel="stylesheet" href="assets/css/base.css")
        link(rel="stylesheet" href="assets/css/styles.css")

    body
        main
            include includes/section-01-header.pug
            include includes/section-02-aboutme.pug
            include includes/section-03-cv.pug
            include includes/section-04-service.pug
            include includes/section-05-contact.pug
        .spacer
        script(src="assets/js/jquery.js")
        script(src="assets/js/functions.js")
