// Colors:
$primary-blue: #0253b3;
$primary-blue-light: #18a4e0;
$primary-white: #fafafa;
$primary-grey-light: #eff2f4;
$primary-red: #f7444e;
$primary-orange: #ff7235;

$dark-blue: #27324d;
$text-color: #201c29;
$shadow: rgba(16, 14, 23, 0.70);